In [12]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from string import punctuation
from nltk.stem import PorterStemmer, SnowballStemmer, WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder

In [7]:
df = pd.read_csv("../datasets/bays/spam.csv", encoding="ISO-8859-1")

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [20]:
X = df["v2"]
y = df["v1"]

In [21]:
le = LabelEncoder()

In [22]:
X_gen = list(X)
y_gen = le.fit_transform(y)

In [31]:
words = []

for msg in X_gen:
    words += word_tokenize(msg.lower())

contain = set(words)

In [32]:
stop = stopwords.words("english")
punc = set(punctuation)
total = set(stop).union(set(punc))
pure = [w for w in contain if w not in total]

In [33]:
len(contain)

9861

In [34]:
len(pure)

9701

In [35]:
port = PorterStemmer()

In [36]:
much_pure = set(map(lambda w: port.stem(w), pure))

In [37]:
len(much_pure)

8422

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
cv = CountVectorizer?

In [ ]:
cv = CountVectorizer

In [51]:
cv.fit_transform?

In [44]:
# cv.vocabulary_

In [54]:
cv.transform?

In [52]:
type(X_gen[0])

str